body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    color: #9b9696;
}

h1, h2 {
    font-family: 'Lobster', cursive;
}

.container {
    padding: 20px;
}

.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}