body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

header nav a, footer a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    color: #ddd;
}

h1, h2 {
    font-family: 'Lobster', cursive;
}

.container{
    padding: 20px;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.product-card{
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.page-image{
    margin: 20px auto;
    width: 225px;
    height: 225px;
}

footer{
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}